.wrapper{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.product{
	position: relative;
	margin: 20px;
	width: 270px;
	cursor: pointer;
	transition: 0.3s;
	background-color: white;
	border-radius: 15px 15px 0 0;
}
.product:hover{
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.product:focus{
	outline: none;
}

.product_image{
	height: 100%;
	width: 100%;
	border-radius: 15px 15px 0 0 ;
}

.product_info{
	padding: 10px;
	margin-bottom: 30px;
}


.horizontal_flexbox{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 5px 0;
}

.product_price{
	font-size: 1.2em;
	font-weight: bold;
}

.product_name{
	font-size: 1.1em;
}

.product_description{
	font-style: italic;
	font-size: 1.0em;
}

.cart_button{
	position: absolute;
	bottom: 5px;
	right: 20px;
}
